BOT_TOKEN=
ADMIN_CHAT_ID=
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.deepseek.com/v1/chat/completions
DEEPSEEK_MODEL=deepseek-chat
XUI_DB_PATH=/etc/x-ui/x-ui.db
NETLINK_DB_PATH=/opt/netlink-bot/netlink.db
SERVER_IP=89.125.24.203
